@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
.title {
  background: black;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1.7rem 0.5rem;
}
.title h1 {
  color: white;
  font-size: 1.75rem;
}
.title h1 span {
  color: orange;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 2rem 7%;
}
.input h1 {
  margin-bottom: 0.7rem;
}
.input textarea {
  margin-bottom: 1.5rem;
}
.input .buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.input .buttons .btn {
  font-size: 1.3rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: orange;
  color: white;
  cursor: pointer;
  transition: all 0.2s linear;
}
.input .buttons .btn:hover {
  opacity: 0.7;
}
.input .buttons .uploadLabel {
  font-size: 1.3rem;
  border: 0.1rem solid #ccc;
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background: black;
  color: white;
  transition: all 0.2s linear;
}
.input .buttons .uploadLabel:hover {
  opacity: 0.7;
}
.input .buttons .uploadLabel .uploadButton {
  display: none;
}

.summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 2.5%;
  background: rgb(252, 252, 252);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.summary h1 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.summary h2 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}
.summary h2 span {
  color: orange;
}
.summary .summary-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.summary .summary-container .card-container {
  display: flex;
  flex-direction: row;
  width: 47%;
  gap: 1.1rem;
  flex-wrap: wrap;
}
.summary .summary-container .card-container .card {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 0.5rem 0.3rem;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  border-radius: 1.5rem;
  align-items: center;
  justify-content: space-around;
}
.summary .summary-container .card-container .card .icon {
  font-size: 2rem;
}
.summary .summary-container .card-container .card .big-number {
  font-size: 4rem;
  padding: 0;
  margin: 0.3rem;
  font-weight: bold;
}
.summary .summary-container .card-container .card p {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 100;
  color: gray;
}
.summary .summary-container .card-container .card button, .summary .summary-container .card-container .card .btn {
  width: 98%;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1rem;
  transition: all 0.2s linear;
  cursor: pointer;
}
.summary .summary-container .card-container .card button:hover, .summary .summary-container .card-container .card .btn:hover {
  opacity: 0.7;
}
.summary .summary-container .figure {
  width: 47%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1.5rem;
  align-items: center;
  background: white;
}
.summary .summary-container .figure h1 {
  font-size: 2.2rem;
  margin: 0 0 1rem 0;
  padding: 0;
}
.summary .summary-container .figure .loading-title {
  margin-top: 2rem;
  color: rgb(50, 100, 84);
}

@media (max-width: 768px) {
  .summary .summary-container .card-container {
    width: 45%;
  }
  .summary .summary-container .card-container .card {
    width: 100%;
  }
  .summary .summary-container .figure {
    width: 45%;
  }
}
@media (max-width: 500px) {
  .summary .summary-container .card-container {
    width: 100%;
  }
  .summary .summary-container .card-container .card {
    width: 100%;
  }
  .summary .summary-container .figure {
    width: 100%;
  }
}
.daemon {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 2.5%;
  background: rgb(252, 252, 252);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.daemon h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.daemon .daemon-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.daemon .daemon-container .card-container {
  display: flex;
  flex-direction: row;
  width: 47%;
  gap: 1.1rem;
  flex-wrap: wrap;
}
.daemon .daemon-container .card-container .card {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 0.5rem 0.3rem;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  border-radius: 1.5rem;
  align-items: center;
  justify-content: space-around;
}
.daemon .daemon-container .card-container .card .icon-outer {
  border-radius: 50%;
  padding: 1.7rem;
}
.daemon .daemon-container .card-container .card .icon-outer .icon {
  font-size: 2rem;
}
.daemon .daemon-container .card-container .card .big-number {
  font-size: 4rem;
  padding: 0;
  margin: 0.3rem;
  font-weight: bold;
}
.daemon .daemon-container .card-container .card p {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 100;
  color: gray;
}
.daemon .daemon-container .card-container .card button {
  width: 98%;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1rem;
  transition: all 0.2s linear;
  cursor: pointer;
}
.daemon .daemon-container .card-container .card button:hover {
  opacity: 0.7;
}
.daemon .daemon-container .figure {
  width: 47%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1.5rem;
  align-items: center;
  background: white;
}
.daemon .daemon-container .figure h1 {
  font-size: 2.2rem;
  margin: 0 0 2rem 0;
  padding: 0;
}
.daemon .daemon-container .figure .loading-title {
  margin-top: 2rem;
  color: rgb(50, 100, 84);
}

@media (max-width: 768px) {
  .daemon .daemon-container .card-container {
    width: 45%;
  }
  .daemon .daemon-container .card-container .card {
    width: 100%;
  }
  .daemon .daemon-container .figure {
    width: 45%;
  }
}
@media (max-width: 500px) {
  .daemon .daemon-container .card-container {
    width: 100%;
  }
  .daemon .daemon-container .card-container .card {
    width: 100%;
  }
  .daemon .daemon-container .figure {
    width: 100%;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  -webkit-animation: wave 1s linear infinite;
          animation: wave 1s linear infinite;
  border-radius: 20px;
}

.wave:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.wave:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.wave:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.wave:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.wave:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.wave:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.wave:nth-child(8) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.wave:nth-child(9) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.wave:nth-child(10) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.ignoredText {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 2.5%;
  background: rgb(252, 252, 252);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.ignoredText h1 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.ignoredText p {
  font-size: 1.3rem;
}

.blockedDetails .card-container {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  width: 100%;
  padding: 2rem;
}
.blockedDetails .card-container .card {
  border: none;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0.2rem 0.3rem;
  padding: 1rem 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7.5rem;
  font-family: "Source Sans Pro", sans-serif;
}
html ::-webkit-scrollbar {
  background: rgb(218, 218, 218);
}
html ::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 75%;
  }
}/*# sourceMappingURL=style.css.map */