@import '../components/Title/title';
@import '../components/Input/input';
@import '../components/Summary/summary';
@import '../components/Daemon/daemon';
@import '../components/Loading/loading';
@import '../components/IgnoredText/ignoredText';
@import '../components/Summary/BlockedDetails/blockedDetails';

//font choice
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    
    ::-webkit-scrollbar{
        background: rgb(218, 218, 218);
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(80, 80, 80); 
    }

    
}

@media (max-width: 768px) {
    html{
        font-size: 80%;
    }
}

@media (max-width: 500px) {
    html{
        font-size: 75%;
    }
}
